api_flow.json
[{"id":"30e05c98.fcdfe4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cc4384f5.087998","type":"mongodb-config","z":"","hostname":"84.201.138.180","port":"18334","db":"promodb","name":"UStatDB"},{"id":"1f88d804.d160d8","type":"http in","z":"30e05c98.fcdfe4","name":"","url":"/updateUser","method":"post","upload":false,"swaggerDoc":"","x":90,"y":220,"wires":[["e5f5e4f2.babbf8","79ba4875.423318"]]},{"id":"8a898e1d.14946","type":"http response","z":"30e05c98.fcdfe4","name":"","statusCode":"","headers":{},"x":850,"y":220,"wires":[]},{"id":"59e9bd40.a91164","type":"http in","z":"30e05c98.fcdfe4","name":"","url":"getChannels","method":"get","upload":false,"swaggerDoc":"","x":180,"y":340,"wires":[["d2e86a4c.9ffee8"]]},{"id":"872c405a.fb637","type":"function","z":"30e05c98.fcdfe4","name":"getChannels","func":"return msg;","outputs":1,"noerr":0,"x":550,"y":320,"wires":[["aadd34bc.0bc078"]]},{"id":"aadd34bc.0bc078","type":"http response","z":"30e05c98.fcdfe4","name":"","statusCode":"","headers":{},"x":750,"y":320,"wires":[]},{"id":"d2e86a4c.9ffee8","type":"mongodb-node","z":"30e05c98.fcdfe4","mongodb":"cc4384f5.087998","name":"getChannels","collection":"channels","operation":"find","upsert":false,"multi":false,"x":370,"y":320,"wires":[["872c405a.fb637"]]},{"id":"90d2ec32.65912","type":"mongodb-node","z":"30e05c98.fcdfe4","mongodb":"cc4384f5.087998","name":"","collection":"users","operation":"update","upsert":true,"multi":false,"x":480,"y":220,"wires":[["8a898e1d.14946"]]},{"id":"e5f5e4f2.babbf8","type":"function","z":"30e05c98.fcdfe4","name":"","func":"msg.query = { _id: msg.payload[\"id\"] };\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["90d2ec32.65912"]]},{"id":"79ba4875.423318","type":"debug","z":"30e05c98.fcdfe4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[\"id\"]","targetType":"msg","x":300,"y":160,"wires":[]}]