api_flow.json
[{"id":"30e05c98.fcdfe4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cc4384f5.087998","type":"mongodb-config","z":"","hostname":"84.201.138.180","port":"18334","db":"promodb","name":"UStatDB"},{"id":"144d3b4c.a2f1a5","type":"amqp-server","z":"","host":"84.201.153.148","port":"23199","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"},{"id":"1f88d804.d160d8","type":"http in","z":"30e05c98.fcdfe4","name":"","url":"/updateUser","method":"post","upload":false,"swaggerDoc":"","x":110,"y":540,"wires":[["e5f5e4f2.babbf8"]]},{"id":"8a898e1d.14946","type":"http response","z":"30e05c98.fcdfe4","name":"","statusCode":"","headers":{},"x":930,"y":540,"wires":[]},{"id":"59e9bd40.a91164","type":"http in","z":"30e05c98.fcdfe4","name":"","url":"getChannels","method":"get","upload":false,"swaggerDoc":"","x":150,"y":60,"wires":[["cdd708a7.ce59e8"]]},{"id":"aadd34bc.0bc078","type":"http response","z":"30e05c98.fcdfe4","name":"","statusCode":"","headers":{},"x":910,"y":60,"wires":[]},{"id":"d2e86a4c.9ffee8","type":"mongodb-node","z":"30e05c98.fcdfe4","mongodb":"cc4384f5.087998","name":"getChannels","collection":"channels","operation":"find","upsert":false,"multi":false,"x":690,"y":60,"wires":[["aadd34bc.0bc078"]]},{"id":"90d2ec32.65912","type":"mongodb-node","z":"30e05c98.fcdfe4","mongodb":"cc4384f5.087998","name":"UpdateOrCreateUser","collection":"users","operation":"update","upsert":true,"multi":false,"x":700,"y":540,"wires":[["8a898e1d.14946"]]},{"id":"e5f5e4f2.babbf8","type":"function","z":"30e05c98.fcdfe4","name":"where users._id = msg.payload","func":"msg.query = { _id: msg.payload[\"id\"] };\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":540,"wires":[["90d2ec32.65912"]]},{"id":"cdd708a7.ce59e8","type":"function","z":"30e05c98.fcdfe4","name":"where userId = msg.payload.userId","func":"msg.query = {userId: msg.payload[\"userId\"]}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":60,"wires":[["d2e86a4c.9ffee8"]]},{"id":"d4bac1e5.71e3b","type":"http in","z":"30e05c98.fcdfe4","name":"","url":"/createChannel","method":"post","upload":false,"swaggerDoc":"","x":120,"y":740,"wires":[["72f65bd8.82f464"]]},{"id":"72f65bd8.82f464","type":"function","z":"30e05c98.fcdfe4","name":"Add empty channel info","func":"msg.payload.thumbnail = '';\nmsg.payload.subscriberCount = 0;\nmsg.payload.videoCount = 0;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":740,"wires":[["440c2357.10378c"]]},{"id":"d24ca8f1.569d38","type":"mongodb-node","z":"30e05c98.fcdfe4","mongodb":"cc4384f5.087998","name":"AddChannel","collection":"channels","operation":"insert","upsert":true,"multi":false,"x":810,"y":740,"wires":[["d4e61210.99b6a","50536654.e1caf8","9c7f9026.2430c"]]},{"id":"d4e61210.99b6a","type":"http response","z":"30e05c98.fcdfe4","name":"createChannel","statusCode":"","headers":{},"x":1160,"y":740,"wires":[]},{"id":"3c70b448.daef4c","type":"http in","z":"30e05c98.fcdfe4","name":"","url":"/getAllChannelVideos","method":"get","upload":false,"swaggerDoc":"","x":130,"y":320,"wires":[["956160b.3c14aa"]]},{"id":"adc6733.4f9da9","type":"mongodb-node","z":"30e05c98.fcdfe4","mongodb":"cc4384f5.087998","name":"getVideos","collection":"videos","operation":"find","upsert":false,"multi":false,"x":740,"y":320,"wires":[["e982d43d.daf1b8"]]},{"id":"956160b.3c14aa","type":"function","z":"30e05c98.fcdfe4","name":"where videos.channelId = msg.payload.channelId","func":"msg.payload = {channelId: msg.payload[\"channelId\"]}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":320,"wires":[["adc6733.4f9da9"]]},{"id":"e982d43d.daf1b8","type":"http response","z":"30e05c98.fcdfe4","name":"","statusCode":"","headers":{},"x":950,"y":320,"wires":[]},{"id":"12645361.034c6d","type":"http in","z":"30e05c98.fcdfe4","name":"","url":"/getVideo","method":"get","upload":false,"swaggerDoc":"","x":100,"y":440,"wires":[["9639221f.55649"]]},{"id":"9639221f.55649","type":"function","z":"30e05c98.fcdfe4","name":"where videos._id = msg.payload","func":"msg.query = { videoId: msg.payload.videoId}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":440,"wires":[["16a42c80.9956c4"]]},{"id":"16a42c80.9956c4","type":"mongodb-node","z":"30e05c98.fcdfe4","mongodb":"cc4384f5.087998","name":"getVideoInfo","collection":"videos","operation":"find","upsert":false,"multi":false,"x":690,"y":440,"wires":[["10b746c3.89cc49"]]},{"id":"10b746c3.89cc49","type":"http response","z":"30e05c98.fcdfe4","name":"","statusCode":"","headers":{},"x":880,"y":440,"wires":[]},{"id":"2a5f04d4.1698bc","type":"amqp out","z":"30e05c98.fcdfe4","name":"Add channel to perform","routingkey":"","iotype":"4","ioname":"channel","server":"144d3b4c.a2f1a5","x":1270,"y":660,"wires":[]},{"id":"50536654.e1caf8","type":"function","z":"30e05c98.fcdfe4","name":"createQueueParams","func":"msg.payload = {\n    _id: msg.payload.ops[0]._id,\n    channelLink: msg.data.link, \n    access_token: msg.data.token,\n    processingTime:  msg.data.processingTime\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":660,"wires":[["2a5f04d4.1698bc"]]},{"id":"440c2357.10378c","type":"change","z":"30e05c98.fcdfe4","name":"","rules":[{"t":"set","p":"data","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"data.token","pt":"msg","to":"req.headers.authorization","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":740,"wires":[["d24ca8f1.569d38"]]},{"id":"9c7f9026.2430c","type":"debug","z":"30e05c98.fcdfe4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":980,"y":880,"wires":[]},{"id":"494e71e2.039e5","type":"debug","z":"30e05c98.fcdfe4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":240,"wires":[]},{"id":"aca11b30.fab038","type":"http in","z":"30e05c98.fcdfe4","name":"","url":"/getChannel","method":"get","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["88506aeb.a02698"]]},{"id":"88506aeb.a02698","type":"function","z":"30e05c98.fcdfe4","name":"where videos.channelId = msg.payload.channelId","func":"msg.payload = [\n{ \n    $addFields: { \n        \"__id\": { \"$toString\": \"$_id\" },\n    }\n},\n{\n    $match: {\n        \"__id\": msg.payload.channelId\n    }\n}];\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":180,"wires":[["5ce8d0f3.d299b","494e71e2.039e5"]]},{"id":"5ce8d0f3.d299b","type":"mongodb-node","z":"30e05c98.fcdfe4","mongodb":"cc4384f5.087998","name":"getChannel","collection":"channels","operation":"aggregate","upsert":false,"multi":false,"x":1070,"y":160,"wires":[["11570012.5e47d"]]},{"id":"11570012.5e47d","type":"http response","z":"30e05c98.fcdfe4","name":"","statusCode":"","headers":{},"x":1250,"y":100,"wires":[]}]