api_flow.json
[{"id":"30e05c98.fcdfe4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cc4384f5.087998","type":"mongodb-config","z":"","hostname":"84.201.138.180","port":"18334","db":"promodb","name":"UStatDB"},{"id":"144d3b4c.a2f1a5","type":"amqp-server","z":"","host":"84.201.153.148","port":"23199","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"},{"id":"1f88d804.d160d8","type":"http in","z":"30e05c98.fcdfe4","name":"","url":"/updateUser","method":"post","upload":false,"swaggerDoc":"","x":110,"y":540,"wires":[["e5f5e4f2.babbf8","79ba4875.423318"]]},{"id":"8a898e1d.14946","type":"http response","z":"30e05c98.fcdfe4","name":"","statusCode":"","headers":{},"x":930,"y":540,"wires":[]},{"id":"59e9bd40.a91164","type":"http in","z":"30e05c98.fcdfe4","name":"","url":"getChannels","method":"get","upload":false,"swaggerDoc":"","x":150,"y":60,"wires":[["cdd708a7.ce59e8"]]},{"id":"aadd34bc.0bc078","type":"http response","z":"30e05c98.fcdfe4","name":"","statusCode":"","headers":{},"x":910,"y":60,"wires":[]},{"id":"d2e86a4c.9ffee8","type":"mongodb-node","z":"30e05c98.fcdfe4","mongodb":"cc4384f5.087998","name":"getChannels","collection":"channels","operation":"find","upsert":false,"multi":false,"x":690,"y":60,"wires":[["aadd34bc.0bc078"]]},{"id":"90d2ec32.65912","type":"mongodb-node","z":"30e05c98.fcdfe4","mongodb":"cc4384f5.087998","name":"UpdateOrCreateUser","collection":"users","operation":"update","upsert":true,"multi":false,"x":700,"y":540,"wires":[["8a898e1d.14946"]]},{"id":"e5f5e4f2.babbf8","type":"function","z":"30e05c98.fcdfe4","name":"where users._id = msg.payload","func":"msg.query = { _id: msg.payload[\"id\"] };\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":540,"wires":[["90d2ec32.65912"]]},{"id":"79ba4875.423318","type":"debug","z":"30e05c98.fcdfe4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[\"id\"]","targetType":"msg","x":320,"y":480,"wires":[]},{"id":"cdd708a7.ce59e8","type":"function","z":"30e05c98.fcdfe4","name":"where userId = msg.payload","func":"msg.query = {userId: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":60,"wires":[["d2e86a4c.9ffee8"]]},{"id":"d4bac1e5.71e3b","type":"http in","z":"30e05c98.fcdfe4","name":"","url":"/createChannel","method":"post","upload":false,"swaggerDoc":"","x":120,"y":660,"wires":[["d917450a.3df818","72f65bd8.82f464"]]},{"id":"d917450a.3df818","type":"debug","z":"30e05c98.fcdfe4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":780,"wires":[]},{"id":"72f65bd8.82f464","type":"function","z":"30e05c98.fcdfe4","name":"Add empty channel info","func":"msg.payload.thumbnail = '';\nmsg.payload.subscriberCount = 0;\nmsg.payload.videoCount = 0;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":660,"wires":[["d24ca8f1.569d38"]]},{"id":"d24ca8f1.569d38","type":"mongodb-node","z":"30e05c98.fcdfe4","mongodb":"cc4384f5.087998","name":"AddChannel","collection":"channels","operation":"insert","upsert":true,"multi":false,"x":630,"y":660,"wires":[["d4e61210.99b6a"]]},{"id":"d4e61210.99b6a","type":"http response","z":"30e05c98.fcdfe4","name":"createChannel","statusCode":"","headers":{},"x":900,"y":660,"wires":[]},{"id":"3c70b448.daef4c","type":"http in","z":"30e05c98.fcdfe4","name":"","url":"/getAllChannelVideos","method":"get","upload":false,"swaggerDoc":"","x":170,"y":180,"wires":[["956160b.3c14aa"]]},{"id":"adc6733.4f9da9","type":"mongodb-node","z":"30e05c98.fcdfe4","mongodb":"cc4384f5.087998","name":"getVideos","collection":"videos","operation":"find","upsert":false,"multi":false,"x":700,"y":180,"wires":[["e982d43d.daf1b8"]]},{"id":"956160b.3c14aa","type":"function","z":"30e05c98.fcdfe4","name":"where videos.channelId = msg.payload","func":"msg.query = {channelId: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":180,"wires":[["adc6733.4f9da9"]]},{"id":"e982d43d.daf1b8","type":"http response","z":"30e05c98.fcdfe4","name":"","statusCode":"","headers":{},"x":870,"y":180,"wires":[]},{"id":"12645361.034c6d","type":"http in","z":"30e05c98.fcdfe4","name":"","url":"/getVideoInfo","method":"get","upload":false,"swaggerDoc":"","x":160,"y":300,"wires":[["9639221f.55649"]]},{"id":"9639221f.55649","type":"function","z":"30e05c98.fcdfe4","name":"where videos._id = msg.payload","func":"msg.query = {_id: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["16a42c80.9956c4"]]},{"id":"16a42c80.9956c4","type":"mongodb-node","z":"30e05c98.fcdfe4","mongodb":"cc4384f5.087998","name":"getVideoInfo","collection":"videos","operation":"find","upsert":false,"multi":false,"x":730,"y":300,"wires":[["10b746c3.89cc49"]]},{"id":"10b746c3.89cc49","type":"http response","z":"30e05c98.fcdfe4","name":"","statusCode":"","headers":{},"x":920,"y":300,"wires":[]},{"id":"2a5f04d4.1698bc","type":"amqp out","z":"30e05c98.fcdfe4","name":"Add channel to perform","routingkey":"","iotype":"0","ioname":"performing","server":"144d3b4c.a2f1a5","x":850,"y":600,"wires":[]}]